.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-card {
    width: 300px;
    margin: 16px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center content */
    transition: transform 0.3s ease, cursor 0.3s ease; 
    font-family:  sans-serif; 
  }
  
  .product-card:hover {
    transform: scale(1.05); 
    cursor: pointer; 
  }
  
  .product-card img {
    width: 50%; 
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover img {
    transform: scale(1.1); 
  }
  
  .product-card h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .product-card p {
    margin-top: 8px;
    font-size: 14px;
  }
  
  .product-card p.price {
    font-weight: bold;
    color: #007bff;
  }
  